@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.mobile_screen_nav{
    background:  rgba(241, 237, 237, 0.2);
    width: max-content;
    padding:  0.7rem;
    z-index:  2;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

.mobile_screen_nav a{
    background: transparent;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 1.1rem;
    color: white;
    
}

.mobile_screen_nav a:hover{
    background: rgba(0, 0, 0, 4);
}

.gradient{
    background: linear-gradient(45deg,transparent,rgba(241, 237, 237, 0.5),transparent);
    
    display: grid;
    place-items: center;
}

.text-gradient {
    color: linear-gradient(to right, purple, yellow);
  }